/* Estilos específicos para la página de login */
.login-page {
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    margin: 0;
    background-color: #2d2d2d; /* Fondo oscuro */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* Añade un padding para el espacio superior e inferior */
}

.login-page .login-card {
    background-color: #3b3b3b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto; /* Centra la tarjeta horizontalmente */
    max-height: calc(100vh - 40px); /* Asegura que la tarjeta no supere la altura de la pantalla */
}

.login-page .form-control {
    background-color: #ffffff;
    color: #2d2d2d;
    border: 1px solid #444444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-page .form-control:focus {
    border-color: #ffb700;
    box-shadow: 0 0 5px rgba(255, 183, 0, 0.5);
}

.login-page .form-label {
    color: #ffb700;
}

.login-page .btn-dark {
    background-color: #ffb700;
    color: #2d2d2d;
    border-radius: 5px;
}

.login-page .btn-dark:hover {
    background-color: #ffa500;
    color: #ffffff;
}

.login-page .small.text-muted {
    color: #ffffff !important;
}

.login-page .card-body {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ajusta el contenido a la parte superior */
    height: 100%;
}
