.productsentry-page {
    background-color: #2d2d2d;
    color: #ffffff;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container {
    background-color: #3b3b3b;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.product-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-form .form-group {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    position: relative; /* Añadido para control de posición */
}

.product-form label {
    width: 20%;
    text-align: left;
    margin-right: 5px;
}

.product-form input {
    width: calc(60% - 10px); /* Ajuste del ancho del input */
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    display: inline-block; /* Asegura que el input esté en línea */
}

.product-form .button-group {
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: absolute; /* Añadido para controlar la posición del botón */
    right: 0; /* Mover el botón al extremo derecho */
    top: 0; /* Alinear verticalmente al input */
}

.product-form .button-group button {
    background-color: #ffb700;
    color: #2d2d2d;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    height: 42px;
}

.product-form button:hover {
    background-color: #ffa500;
}

.divider {
    border-top: 2px solid #ffa500;
    margin: 20px 0;
    width: 100%;
}

.product-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.product-actions button {
    background-color: #ffb700;
    color: #2d2d2d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.product-actions button:hover {
    background-color: #ffa500;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #444;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.product-item span {
    margin-right: 300px;
}

.product-item:hover {
    background-color: #555;
}

.product-details {
    background-color: #2d2d2d;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    border-left: 4px solid #ffa500;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.page-button, .next-page-button, .prev-page-button {
    background-color: #ffb700;
    border: none;
    padding: 10px;
    margin: 5px;
    color: #2d2d2d; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-button:hover, .next-page-button:hover, .prev-page-button:hover {
    background-color: #ffa500;
}

.page-button.active {
    background-color: #ffa500;
}

.page-numbers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 160px);
}

.page-numbers .page-button {
    margin: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #3b3b3b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.modal-content input {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.modal-content button {
    background-color: #ffb700;
    color: #2d2d2d;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #ffa500;
}

.back-button {
    display: inline-block;
    color: #ffb700;
    text-decoration: none;
    font-size: 1.2rem;
    position: absolute;
    top: 20px;
    left: 140px; 
    transition: color 0.3s;
}

.back-button:hover {
    color: #ffa500;
}

.back-button i {
    margin-right: 5px;
}

.main-content {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-left: 0; 
    padding-top: 60px; 
}
