.states-page {
    background-color: #2d2d2d;
    color: #ffffff;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.states-container {
    background-color: #3b3b3b;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.state-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.client-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #444;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.client-item:hover {
    background-color: #555;
}

.client-item p {
    margin: 0;
    margin-right: 300px; /* Mantener el mismo estilo que en Clients */
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.page-button, .next-page-button, .prev-page-button {
    background-color: #ffb700;
    border: none;
    padding: 10px;
    margin: 5px;
    color: #2d2d2d;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-button:hover, .next-page-button:hover, .prev-page-button:hover {
    background-color: #ffa500;
}

.page-button.active {
    background-color: #ffa500;
}

.next-page-button, .prev-page-button {
    background-color: #ffb700;
    border: none;
    padding: 10px;
    margin: 5px;
    color: #2d2d2d;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-page-button:hover, .prev-page-button:hover {
    background-color: #ffa500;
}

.client-item p strong {
    color: #ffb700; 
}
